.row1{
    float:left;
    box-sizing: border-box;
    border-radius: 2px;
    width:400px;
    padding: 70px;
    background-color: rgb(173, 191, 196);
    border-width: 4px;
    border-color: darkgreen;
    border:solid rgba($color: #640707, $alpha: 1.0);
    
}
input[type=text] {
    border: 1px solid rgb(15, 14, 14);
    border-radius: 4px;
    width:200px;
    padding: 10px;
    margin: 10px;
  }
  input[type=password] {
    border: 1px solid rgb(15, 14, 14);
    border-radius: 4px;
    width:200px;
    padding: 10px;
    margin: 10px;
  }
  input[type=submit]{
    background-color: rgba($color: #028394, $alpha: 1.0);
    width:100px;
    padding:10px;
    margin:10px 30px 10px 50px;
    border-radius: 10px;
}
body{
    // background-color: darkgrey;
    width:100%;
    height:600px;
    background-size: cover;
    padding:60px;
    background-image: url('/assets/trial2.jpg');
    background-repeat: no-repeat;
 
    
}
.con3 img{
  float:right;
  padding-top:55px;

}