<html>
    <body>
        <div class="row">
        <h1>Welcome to Olive Hospital</h1>
        <div class ="con">
            <input type="button" name="Patientlogin" value="User Login" (click)="patientLogin()"><br>
            <input type="button" name="Physicianlogin" value="Physician Login" (click)="physicianLogin()"><br>
            <input type="button" name="Traillogin" value="Clinical Trail Manager Login"(click)="trailManagerLogin()"><br>
        </div>
            <div class="con">
            <img src = '/assets/olive_hospital.jpg' width=500px height="300px"  />
        </div>
    </div>
    </body>
</html>

