<html>
    
    <body>
        <h2 style="font-family: 'Lucida'; padding-left:400px;padding-top: 5px;">Welcome to Olive Hospital</h2>
        <div class="row">
        
        <div class ="con">
            <input type="button" name="Patientlogin" value="User Login" (click)="patientLogin()"><br>
            <input type="button" name="Physicianlogin" value="Physician Login" (click)="physicianLogin()"><br>
            <input type="button" name="Traillogin" value="Clinical Trail Manager Login"(click)="trailManagerLogin()"><br>
        </div>
    </div>
            <!-- <div class="con">
            <img src = '/assets/olive_hospital.jpg' width=500px height="300px"  />
        </div> -->
    
    </body>
</html>

