<html>
    
    <body>
            
        <br>  
        <h2 style="font-family:'Lucida';padding-left: 400px; ">Find Clinical Trails</h2>  
        <div class="container">            
        <button class="button button1" (click)="onclick1()">Find By Disease</button>
        <button class="button button2" (click)="onclick2()"> Find By Title</button>
        <button class="button button3" (click)="onclick3()">Pull report </button>
    </div>    
    
        <!-- <img src='/assets/clinicaltrial.jpg' width="500px" height="auto"> -->
        
    </body>

    
    </html>
