
<body>
<h3 style="font-family:'Lucida';padding-left : 350px;" >Clinical Trials By Title</h3>
<h5 style="font-family: Arial, Helvetica, sans-serif;padding-left: 480px;">Select the Trial</h5>
   <div class="list">
    <select (change)="selectedTrialTitle($event)">
        <option disabled>Select Title</option>
        <option>Choose Title</option>
        <option *ngFor="let trial of trials">
           
            {{trial}}</option>
    </select> 
   </div>  
   </body>
 <!-- <button type="button" (click)="showInfo(trial)">{{trial}} </button>-->
  
