<html>
  <body>
    <!-- <div class="topnav">
      <a href="#profile" href='/PatientView'>Profile</a>
      <a href="#diagnosis"href='/PatientDiagnosis'>Diagnosis</a>
      <a class="active" href="#medication">Medication</a>
      <div class="topnav-right">
      <a href="#logout">Logout</a>
      </div>
    </div> -->
    <div class="table">
      <table class="table table:striped">
          <thead>
              <!-- <th>Medicine ID</th> -->
              <th>Medicine Name</th>
              <th>prescribed doctor's name</th>
          </thead>
          <tbody>
            <tr *ngFor="let pm of pms">
            <td>{{pm.name}}</td>
            <td>{{pm.first_name}},{{pm.last_name}}</td> 
            </tr>
          </tbody>
      </table>
    
    </div>
  </body>

</html>
