

 <!-- <div class="table">
<table class="table table:striped">
    <th> Disease Group </th>

    <tbody>
      <tr *ngFor="let ct of cts" >
        <td>
            <button class="btn btn-info">{{ct.diseasegroup}}</button></td>
      </tr>
    </tbody>
</table>
</div>   -->
<html>
    <body>
    <div class="container">
        <h4 style="padding-left: 50px;"> Disease Group</h4>
<div class="buttons">
    <ul *ngFor="let ct of cts">
        <button type="button" (click)="displaydiseases(ct)">{{ct}}</button>
        </ul>

</div>
</div>
</body>
</html>







