<html>
    <h4 style="padding-left: 35%; padding-top: 50px;">Clinical Trial {{title}}</h4>
    <div class="container">
        
        <b>Trial_ID:</b><label for="Trial_id">{{trial_id}}</label><br>
        <b>Name:</b><label for="Name">{{name}}</label><br>
        <b>Description:</b><label for="Description">{{description}}</label><br>
        <b>Priciple Investigator:</b><label for="Priciple Investigator">{{investigator}}</label><br>
        <b>Duration:</b><label for="Duration">{{duration}}</label>
   
    </div>
</html>
