<html>
    <body>
        <div class = "row1">
            <h4 style="font-family: 'Lucida';font-size:32px;">User Login</h4>
            <form [formGroup]="patientLoginForm" (ngSubmit)="login()">
            <input  type="text" formControlName = "userid" placeholder="Enter your username"><br>
            <input type="password" formControlName ="password" placeholder="Enter your password"><br>
            <input type="submit" name ="submit" value = "Login"><br>
            New User? <a href="http://localhost:4200/PatientRegister">Register Here</a>
        </form>
        </div>
    </body>
</html>
